<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{@blog.title}}</title>
    <meta name="author" content="denny">
    <meta name="description" content="description here">
    <meta name="keywords" content="blog,writing,ux,process">
    <link rel="icon" href="{{asset "images/favicon.png"}}">
    <link rel="stylesheet" href="{{asset "css/tachyons.min.css"}}" type="text/css">
  </head>
  <body class="pa4 bg-near-white purple">
    {{{body}}}
  </body>
</html>
