{{!< default}}
{{#post}}
  <div>
    <h2 class="f1 bodoni">{{title}}</h2>
    <section class="{{post_class}} measure-narrow lh-copy f3">
      {{content}}
    </section>
    <div class="f3"> {{date published_at format="MMMM DD, YYYY"}} </div>
  </div>
{{/post}}
